@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

:root {
    --main-color : #000000;
    --grey-dark: #585858;
    --cyan-dark : #2B788B;
    --cyan-light : #C3DCE3;
    --gray-light:#D9D9D9;
    --primaty-color:#F6F5F4;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', 'Dela Gothic One' , sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* container */

.container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Header */

.header {
    box-shadow: inset 0px -1px 0px #E0E0E0;
    padding: 18px 20px;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primaty-color);
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overlay{
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #F6F5F4;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
}
.overlay.show {
    display: none;
}

#hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1.25rem;
}
#hamburger  span {
    width: 100%;
    height: 0.13rem;
    margin-bottom: 0.2rem;
    background-color: var(--main-color);
    cursor: pointer;
}
#hamburger span:nth-child(2) {
    width: 0.875rem;
}
#hamburger span:nth-child(3) {
    width: 0.375rem;
}
@media (max-width : 768px) {
    #hamburger.active span:nth-child(1) {
        width: 100%;
        transform: rotate(45deg)translateX(6px) translateY(-2px);
    }
    #hamburger.active span:nth-child(2) {
        display: none;
    }
    #hamburger.active span:nth-child(3) {
        width: 100%;
        transform: rotate(-45deg) translateX(5px) translateY(2px);
    }
}
.header .container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .nav .logo a {
    font-family: "Dela Gothic One";
    color: var(--main-color);
    font-size: 1rem;
}
.header .container .nav .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10rem;
    z-index: 2;
}
.header .container .nav .nav-list.show {
    display: none;
}


.header .container .nav .nav-list li {
    padding: 1rem;
}

@media (max-width: 767px) {
    .header .container .nav .nav-list li a i {
        display: none;
    }
}
@media (min-width:768px) {
    .overlay {
        display: none;
    }
    .nav .logo {
        position: relative;
    }
    .nav .logo::after {
        content: "";
        right: -4.5rem;
        width: 0.15rem;
        height: 100%;
        background-color: #E0E0E0;
        position: absolute;
    }
    .header .container .nav {
        gap: 7rem;
    }
    .header .container .nav .nav-list.show {
        display: flex;
        top: 0;
    }
    .header .container .nav .nav-list {
        top: 0;
    }
    .header .container .nav .nav-list li {
        padding: 0 1rem;
    }
    .header .container .nav .nav-list li a i {
        color: var(--grey-dark);
        font-size: 0.7rem;
        padding-left: 0.1rem;
    }
    .header .container .nav .nav-list li.opt{
        position: absolute;
        right:-8rem;
        bottom: 0;
        display: block;
        width: 13rem;
        background-color: #FFFF;
        height: 3rem;
        padding: 1rem;
        }
    .header .container .nav .nav-list li.opt.active {
        display: none;
    }
    .header .container .nav .nav-list li.opt.op1{
        top: 1.5rem;
        z-index: 1;
        border-top-left-radius: 0.9rem;
        border-top-right-radius: 0.9rem;
    }
    .header .container .nav .nav-list li.opt:last-child{
        top: 3.5rem;
        border-bottom-right-radius: 0.9rem;
        border-bottom-left-radius: 0.9rem;
    }
    .header .container .nav .nav-list li.opt:hover a {
        color: var(--main-color);
    }
}
.header .container .nav .nav-list  li.act a {
    color: var(--cyan-dark);
}
.header .container .nav .nav-list li a {
    color: var(--grey-dark);
    font-size: 1rem;
    font-weight: 600;
}
@media (max-width:768px) {
    .reg {
        display: none;
    }
}
.compte .profile span {
    position: relative;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    color: var(--grey-dark);
}

.compte .profile span::before {
    content: "A";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -2.2rem;
    background-color: var(--cyan-light);
    bottom: -0.55rem;
    color: var(--cyan-dark);
}

.compte .profile span i{
    padding-left: 0.2rem;
    color: var(--grey-dark);
    font-size: 0.7rem;
}

@media (min-width:767px) {
    /* .profile {
        display: none;
    } */
    #hamburger {
        display: none;
    }
    .header .container .nav .nav-list {
        position: relative;
        flex-direction: row;
        align-items: center;
    }
}

/* Hero Section */

.hero {
    overflow: hidden;
    background-color: var(--primaty-color);
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 60px);
}


.hero .container .content {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}



.hero .container .content-title {
    font-weight: 700;
    font-size: 12px;
    color: var(--cyan-dark);
}

.hero .container .content h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "Dela Gothic One";
    line-height: 1.2;
}

@media (min-width:768px) {
    .hero .container {
        flex-direction: row;
        justify-content: space-between;
    }
    .hero .container .content {
        align-items: flex-start;
    }
    .hero .container .content h1 {
        font-size: 45px;
        text-align: unset;
        width: 100%;
    }
    .hero .container .content p {
        font-size: 18px;
        font-weight: 600;
    }
}

.hero .container .content p {
    font-weight: 600;
    font-size: 14px;
    color: var(--grey-dark);
}

.aboutp-btn {
    display: inline-block;
    margin: 1rem 0;
}



.aboutp-btn a {
    color: var(--cyan-dark);
    padding: 12px 20px;
    border-radius: 7px;
    background-color: var(--cyan-light);
    font-size: 14px;
    font-weight: 700;
    outline: none;
    display: inline-block;
}

.stat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.stat .line {
    width: 2px;
    height: 35px;
    background-color: var(--gray-light);
}

.pop-w {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pop-w img {
    width: 15px;
}

.pop-w div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-w .title {
    font-size: 12px;
    font-weight: 400;
    color: #585858;
}

.pop-w div span {
    font-family: 'Dela Gothic One';
    font-size: 20px;
}
.pop-w div span .plus {
    color: var(--cyan-dark);
}

.mini-gam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mini-gam img {
    width: 15px;
}

.mini-gam div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-gam div span {
    font-family: 'Dela Gothic One';
    font-size: 20px;
}

.mini-gam .title {
    font-size: 12px;
    font-weight: 400;
    color: #585858;
}

.mini-gam div span .plus {
    color: var(--cyan-dark);
}

.pics {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pics img:first-child {
    width: 13rem;
}

.pics img:nth-child(2) {
    display: none;
}

.pics img:nth-child(3) {
    width: 173px;
}




@media (min-width:768px) {
    .pics {
        width: fit-content;
    }
    .pics img:first-child {
        width: 400px;
    }
    .pics img:nth-child(2){
        position: absolute;
        display: block;
        left: 0;
        width: 140px;
    }
    .pics .image12 {
        overflow: hidden;
    }
    /* .pics .image12 img{
        width: 500px;
        position: absolute;
        right: -190px;
        bottom: -15px;
    } */
    .stat {
        justify-content: space-between;
        width: 300px;
    }

}

/* section lang" */

.learn-lang {
    margin-top: 40px;
}

.learn-lang .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.learn-lang .container .image img {
    width: 335px;
}

.learn-lang .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.learn-lang .container .content h2 {
    font-size: 24px;
    font-family: "Dela Gothic One";
    padding: 10px 40px ;
    text-align: center;
}

.learn-lang .container .content  p {
    font-size: 14px;
    font-weight: 600;
    color: var(--grey-dark);
    text-align: center;
}

.learn-lang .container .content .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 350px;
    align-items: flex-end;
}

.learn-lang .container .content .cards .card {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    justify-content: center;
    position: relative;
    border-radius: 14px;
}

.sprint {
    background-color: #F2D4DC;
    width: 114px;
    height: 112px;
}

.sprint a {
    color: #945069;
}

.audiocall {
    background-color: var(--cyan-light);
    width: 172px;
    height: 145px;
}

.audiocall a {
    color: var(--cyan-dark);
}

.learn-lang .container .content .cards .card img {
    position: absolute;
    top: -30px;
    transition: transform 0.3s;
}

.learn-lang .container .content .cards .card img:hover {
    transform: scale(1.1);
}

@media (min-width:768px) {
    .learn-lang .container {
        flex-direction: row;
    }
    .learn-lang .container .content {
        max-width: 550px;
    }
    .learn-lang .container .image {
        max-width: 600px;
    }
    .learn-lang .container .image img  {
        width: 100%;
    }
    .learn-lang .container .content h2 {
        font-size: 48px;
        padding: 0;
        padding-right: 50px;
        padding-bottom: 20px;
        text-align: left;
    }
    .learn-lang .container .content  p {
        font-size: 18px;
        width: 400px;
        text-align: left;
    }
    .learn-lang .container .content {
        align-items: flex-start;
    }
}

/* vocabulary section */

.vocabulary.learn-lang {
    background-color: var(--primaty-color);
}

.textbook {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbook a {
    padding: 12px 20px;
    background-color: var(--cyan-light);
    color: var(--cyan-dark);
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}



/* progress section */